<!DOCTYPE html>
<html>

<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock meta %}

    {% block title %}
        <title>SESAN | Dashboard</title>
    {% endblock title %}

</head>


<body>
{% block body %}
    <div id="wrapper">
        {% block mainavbar %}
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">

                                {% if activeUser.user_role!=1 %}
                                    <a href="{{ request.route_url('profile') }}">{% endif %}
                                <span>
                                        <img alt="image" class="img-circle" src="{{ activeUser.gravatarURL }}"/>

                                </span>

                                <span class="clear"> <span class="block m-t-xs">
                                    <strong class="font-bold"
                                            id="insti">{{ activeUser.fullName }}


                                        {% if activeUser.user_role!=1 %}
                                            | {{ activeUser.organization }}{% endif %}</strong>

                                </span>
                                    <span>
                                        <b></b>
                                    </span>
                                </span>
                                </a>

                            </div>
                            <div class="logo-element">
                                SS+
                            </div>
                        </li>
                        {% block dashmenu %}
                            {% if activeUser.user_role!=1 %}
                                <li class="active">
                                    <a href="{{ request.route_url('dashboard') }}"><i class="fa fa-th-large"></i> <span
                                            class="nav-label">Inicio</span> </a>
                                </li>
                                <li>
                                    <a href="{{ request.route_url('profile') }}"><i class="fa fa-user-circle-o"></i>
                                        <span
                                                class="nav-label">Perfil</span></a>
                                </li>
                                <li>
                                    <a href="{{ request.route_url('dashboard') }}"><i class="fa fa-ellipsis-h"></i>
                                        <span
                                                class="nav-label">Acerca de</span></a>

                                </li>
                            {% endif %}
                            {% if activeUser.user_role==1 %}
                                <li>
                                    <a href="{{ request.route_url('register') }}"><i class="fa fa-vcard-o"></i> <span
                                            class="nav-label">Usuarios</span></a>


                                </li>
                                <li>
                                    <a href="{{ request.route_url('baseline') }}"><i class="fa fa-newspaper-o"></i>
                                        <span
                                                class="nav-label">Lineas Base</span></a>




                                </li>
                            {% endif %}
                            {% if report %}

                                <li>
                                    <a href="{{ request.route_url('report', date=dashData.date[0] +"_"+ dashData.date[1]) }}"><i
                                            class="fa fa-ellipsis-h"></i>
                                        <span
                                                class="nav-label">Reporte</span></a>

                                </li>

                            {% endif %}
                        {% endblock dashmenu %}

                    </ul>

                </div>
            </nav>
        {% endblock mainavbar %}

        <div id="page-wrapper" class="gray-bg dashbard-1">

            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i
                                class="fa fa-bars"></i> </a>


                    </div>

                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">Bienvenidos al sistema de monitoreo<a
                                    href="http://www.sesan.gob.gt/" style="color: #1ab492">SESAN</a></span>
                        </li>

                        {#                        <li class="dropdown">#}
                        {#                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">#}
                        {#                                <i class="fa fa-bell"></i> <span class="label label-primary">3</span>#}
                        {#                            </a>#}
                        {#                            <ul class="dropdown-menu dropdown-alerts">#}
                        {#                                <li>#}
                        {#                                    <a href="#" data-toggle="modal" data-target="#myModal4">#}
                        {#                                        <div>#}
                        {#                                            <i class="fa fa-check-square-o fa-fw"></i> Aprobar: MAGA#}
                        {#                                            <span class="pull-right text-muted small">4 minutes ago</span>#}
                        {#                                        </div>#}
                        {#                                    </a>#}
                        {#                                </li>#}
                        {#                                <li class="divider"></li>#}
                        {#                                <li>#}
                        {#                                    <a href="#" data-toggle="modal" data-target="#myModal4">#}
                        {#                                        <div>#}
                        {#                                            <i class="fa fa-check-square-o fa-fw"></i> Aprobar: CONALFA#}
                        {#                                            <span class="pull-right text-muted small">12 minutes ago</span>#}
                        {#                                        </div>#}
                        {#                                    </a>#}
                        {#                                </li>#}
                        {#                                <li class="divider"></li>#}
                        {#                                <li>#}
                        {#                                    <a href="#" data-toggle="modal" data-target="#myModal4">#}
                        {#                                        <div>#}
                        {#                                            <i class="fa fa-check-square-o fa-fw"></i> Aprobar: MSPAS#}
                        {#                                            <span class="pull-right text-muted small">4 minutes ago</span>#}
                        {#                                        </div>#}
                        {#                                    </a>#}
                        {#                                </li>#}
                        {#                                <li class="divider"></li>#}
                        {#                                <li>#}
                        {#                                    <div class="text-center link-block">#}
                        {#                                        <a href="#">#}
                        {#                                            <strong>Aprobar todos</strong>#}
                        {#                                            <i class="fa fa-check"></i>#}
                        {#                                        </a>#}
                        {#                                    </div>#}
                        {#                                </li>#}
                        {#                            </ul>#}
                        {#                        </li>#}


                        <li>
                            <a href="{{ request.route_url('logout') }}">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                        <li>

                        </li>
                    </ul>

                </nav>

            </div>
            {% block pageheading %}
                <div class="row wrapper border-bottom white-bg page-heading" style="z-index: -9999">
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-8 text-center">

                        <h2 id="title">Sala Situacional para el mes de {{ dashData.date[0] }}, {{ dashData.date[1] }}.
                            SESAN</h2>
                    </div>
                </div>
            {% endblock pageheading %}


            <div class="row wrapper wrapper-content animated fadeInRight">

                {% block pagecontent %}

                    <div class="col-md-9">


                        {% if dashData.error == True %}
                            <div class="col-md-9">
                                <div class="widget style1">
                                    {% if activeUser.user_role!=1 %}
                                        <div class="col-xs-8"><i class="fa fa-frown-o fa-5x"></i>
                                            <h2 class="font-bold">No existen registros para esta fecha </h2>
                                            <span> Utilize el formulario en ODK Collect para ingresar los datos</span>

                                        </div>
                                    {% endif %}


                                </div>
                            </div>

                        {% else %}
                            <!--------------------------------->
                            <div id="summary" style="font-size: 125% ">
                                {% for p in dashData|reverse %}
                                    {% if "_alert" not in p and "date" not in p and "signatures" not in p and p not in ["comunidades", "acciones", "coverage","comunidades2"] %}
                                        <div class="ibox float-e-margins">

                                            <div class="ibox-title" style="font-size: 125% ">
                                                <h5>Pilar : {{ p.title() }}, indice de afectacion </h5>
                                                <h5 style="color: {{ dashData[p+"_alert"][2] }}">&nbsp;
                                                    {{ dashData[p+"_alert"][0] }}
                                                    ({{ dashData[p+"_alert"][1].decode('latin-1') }})</h5>


                                                <div class="ibox-tools">

                                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                                                       aria-expanded="false">
                                                        <i class="fa fa-gears"></i>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-user">
                                                        <li><a href="javascript:expandFoo()" id="collapse">Mostrar
                                                            todo</a>
                                                        </li>
                                                        <li><a href="javascript:showPDF()">Descargar datos</a>
                                                        </li>


                                                        <!--->
                                                        <form role="form" method="POST" action="/down/datos_reporte.xlsx"
                                                              id="formXLS"
                                                              enctype='multipart/form-data'>


                                                            <input type="hidden" id="genXLS" value="{{ dashData.date[0] }} {{ dashData.date[1] }}" name="genXLS">
                                                        </form>

                                                        <!--->
                                                    </ul>

                                                </div>


                                            </div>

                                            <div class="ibox-content">
                                                <table class="footable table toggle-arrow-tiny">
                                                    <thead>
                                                    <tr>
                                                        <th data-toggle="true" data-sortable="false">Indicador</th>
                                                        <th data-toggle="true" data-sortable="false"
                                                            class="text-center">
                                                            Indice de variable
                                                        </th>

                                                        <th data-hide="all"></th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for ind in dashData[p].keys() %}
                                                        <tr>
                                                            <td>{{ ind.decode('latin-1') }}</td>
                                                            {#                                            #ff1313 rojo#}
                                                            {#                                            #ff9936 naranja#}
                                                            {#                                            #ffe132 amarillo#}
                                                            {#                                            #11c300 verde #}
                                                            {#                                            <span title="47.20%" class="pie">47.20/100</span>#}
                                                            {#                                             &nbsp;&nbsp;&nbsp;&nbsp; Afectación Alta &nbsp;&nbsp;&nbsp;&nbsp;#}
                                                            <td class="text-center"><strong
                                                                    style="">{{ dashData[p][ind]["val"][0] }}</strong>
                                                            </td>

                                                            <td>
                                                                <table class="table">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>Variable</th>
                                                                        <th>Unidad de medida</th>
                                                                        <th>Linea Base</th>
                                                                        <th>Situacion actual</th>
                                                                        <th>Comparativo mensual</th>
                                                                        <th>Nivel de afectacion</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for row in dashData[p][ind]["var"] %}
                                                                        <tr>
                                                                            <td>{{ row[0].decode('latin-1') }}</td>
                                                                            <td class="text-center">{{ row[1].decode('latin-1') }}</td>
                                                                            <td class="text-center">{{ row[2] }}</td>
                                                                            <td class="text-center">{{ row[3].decode('latin-1') }}</td>
                                                                            {% if  row[4] == 1 %}
                                                                                <td class="text-center text-navy">{{ "" }}<i
                                                                                        class="fa fa-level-up"></i></td>
                                                                            {% elif row[4] == 2 %}
                                                                                <td class="text-center text-success">{{ "" }}<i
                                                                                        class="fa fa-level-down"></i>
                                                                                </td>
                                                                            {% elif row[4]==3 %}
                                                                                <td class="text-center text-info">{{ "" }}<i
                                                                                        class="fa fa-ellipsis-h"></i>
                                                                                </td>s
                                                                            {% elif row[4]==0 %}
                                                                                <td class="text-center"
                                                                                    style="color: red">{{ "" }}<i
                                                                                        class="fa fa-times"></i>
                                                                                </td>
                                                                            {% endif %}
                                                                            <td class="text-center"
                                                                                style="color: {{ row[5][0] }}">{{ row[5][1].decode('latin-1') }}</td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </td>

                                                            {#                                            <td>{{ dashData[p][ind][2] }}</td>#}
                                                            {#                                            <td>{{ dashData[p][ind][3] }}</td>#}
                                                            {#                                            <td>{{ dashData[p][ind][4] }}</td>#}
                                                        </tr>
                                                    {% endfor %}

                                                    {% if dashData.comunidades |length >0 %}
                                                        <tr>
                                                            <td>Comunidades mas afectadas por el pilar</td>
                                                            <td></td>
                                                            <td>
                                                                <table class="table" style="text-align: center">
                                                                    <thead>
                                                                    <tr>
                                                                        <th></th>
                                                                        <th>Nombre</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for c in dashData.comunidades %}
                                                                        <tr>
                                                                            <td>{{ c[0] }}</td>
                                                                            <td>{{ c[1].decode('latin-1') }}</td>

                                                                        </tr>

                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>


                                                            </td>
                                                        </tr>

                                                    {% endif %}

                                                    {% if dashData.acciones |length >0 %}
                                                        <tr>
                                                            <td>Acciones propuestas a implementar</td>
                                                            <td></td>
                                                            <td>
                                                                <table class="table" style="text-align: center">
                                                                    <thead>
                                                                    <tr>
                                                                        <th></th>
                                                                        <th>Nombre</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for c in dashData.acciones %}
                                                                        <tr>
                                                                            <td>{{ c[0] }}</td>
                                                                            <td>{{ c[1].decode('latin-1') }}</td>

                                                                        </tr>

                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>


                                                            </td>
                                                        </tr>

                                                    {% endif %}

                                                    </tbody>
                                                    <tfoot>
                                                    <tr>

                                                    </tr>
                                                    </tfoot>

                                                </table>

                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                        {% endif %}


                        <!--------------------------------->


                    </div>


                    {% if activeUser.user_role!=1 %}
                        <div class="col-md-3">
                            <div class="ibox-content form-group" id="data_4">
                                <form role="form" method="POST" action="{{ request.path }}" id="newMonth"
                                      enctype='multipart/form-data'>

                                    <label class="font-normal"><strong>Mes reportado </strong></label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input
                                            type="text" id="dateP" name="dateP" readonly class="form-control"
                                            value="{{ dashData.date[0] }} {{ dashData.date[1] }}">
                                    </div>

                                </form>

                                {% if dashData.signatures %}
                                    <br>
                                    <a class="btn btn-primary btn-facebook btn-outline" style="display: block"
                                       data-toggle="modal" data-target="#myModalREP">
                                        <i class="fa fa-check"> </i> Representante COMUSAN
                                    </a>
                                    <br>
                                    <a class="btn btn-primary btn-facebook btn-outline" style="display: block"
                                       data-toggle="modal" data-target="#myModalTEC">
                                        <i class="fa fa-check"> </i> Tecnico que reporta
                                    </a>
                                    <br><h3>Cobertura en comunidades {{ dashData.coverage }} %</h3>


                                    <!-------->
                                    <script type="text/javascript"
                                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDo13AUO2xL-UgyHvklmo6yVVvPT90mtyU&v=3.exp"></script>

                                    <div class="ibox" id="map_d">


                                        <div class="google-map" id="map1"></div>
                                        <div id="legend" style="font-family: Arial, sans-serif;

                                                            background: #fff;
                                                            padding: 10px;
                                                            margin: 10px;
                                                            border: 1px solid #afb2b4;
                                                            ">


                                            <h3 style="margin-top: 0;font-size: x-small;"><i class="fa fa-circle"
                                                                                             style="color: #11c300"> </i>&nbsp;Sin
                                                Afectación</h3>
                                            <h3 style="margin-top: 0;font-size: x-small;"><i class="fa fa-circle"
                                                                                             style="color: #ffe132"> </i>&nbsp;Afectación
                                                Moderada</h3>
                                            <h3 style="margin-top: 0;font-size: x-small;"><i class="fa fa-circle"
                                                                                             style="color: #ff9936"> </i>&nbsp;Afectación
                                                Alta</h3>
                                            <h3 style="margin-top: 0;font-size: x-small;"><i class="fa fa-circle"
                                                                                             style="color: #ff1313"> </i>&nbsp;Afectación
                                                Muy Alta</h3>
                                            <h3 style="margin-top: 0;font-size: x-small;"><i class="fa fa-minus"
                                                                                             style="color: #86D3C3"> </i>&nbsp;Limite
                                                municipal</h3>

                                        </div>

                                        <input type="hidden" id="map_points" value="{{ dashData.comunidades2 }}">
                                        <input type="hidden" id="map_name" value="{{ activeUser.munic }}">

                                    </div>

                                    <!-------->


                                {% endif %}
                            </div>

                        </div>

                    {% endif %}
                    {% if dashData.signatures %}
                        <div class="modal inmodal" id="myModalREP" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated fadeIn">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span
                                                aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                        </button>
                                        <i class="fa fa-check modal-icon"></i>
                                        <h2 class="modal-title">La informacion que se muestra en este informe ha sido
                                            aprobada por el
                                            sigueinte representante de la COMUSAN</h2>
                                    </div>
                                    <div class="modal-body">
                                        <!---->
                                        <p>
                                            <strong>
                                                {{ dashData.signatures[0][1] }}
                                            </strong>
                                        </p>
                                        <img src="{{ dashData.signatures[0][0] }}" alt="person" style="width: 100%;"/>
                                        <!---->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="modal inmodal" id="myModalTEC" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated fadeIn">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span
                                                aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                        </button>
                                        <i class="fa fa-check modal-icon"></i>
                                        <h2 class="modal-title">La informacion que se muestra en este informe ha sido
                                            reportada por el
                                            siguiente tecnico:</h2>
                                    </div>
                                    <div class="modal-body">
                                        <!---->
                                        <p>
                                            <strong>
                                                {{ dashData.signatures[1][1] }}
                                            </strong>
                                        </p>
                                        <img src="{{ dashData.signatures[1][0] }}" alt="person" style="width: 100%;"/>
                                        <!---->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!----->


                {% endblock pagecontent %}


            </div>


            <div class="footer">
                {% block footer %}

                    <div class="pull-right">
                        0.5 (20170508)
                    </div>
                    <div>
                        <strong>Copyright</strong> Bioversity International &copy; 2017
                    </div>


                {% endblock footer %}
            </div>


        </div>


        <div id="right-sidebar" class="animated">
            <div class="sidebar-container">

                <ul class="nav nav-tabs navs-3">

                    <li class="active"><a data-toggle="tab" href="#tab-1">
                        Notes
                    </a></li>
                    <li><a data-toggle="tab" href="#tab-2">
                        Projects
                    </a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3">
                        <i class="fa fa-gear"></i>
                    </a></li>
                </ul>

                <div class="tab-content">


                    <div id="tab-1" class="tab-pane active">

                        <div class="sidebar-title">
                            <h3><i class="fa fa-comments-o"></i> Latest Notes</h3>
                            <small><i class="fa fa-tim"></i> You have 10 new message.</small>
                        </div>

                        <div>

                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">

                                        <div class="m-t-xs">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">

                                        There are many variations of passages of Lorem Ipsum available.
                                        <br>
                                        <small class="text-muted">Today 4:21 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">

                                    <div class="media-body">
                                        The point of using Lorem Ipsum is that it has a more-or-less normal.
                                        <br>
                                        <small class="text-muted">Yesterday 2:45 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <div class="m-t-xs">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        Mevolved over the years, sometimes by accident, sometimes on purpose
                                        (injected humour and the like).
                                        <br>
                                        <small class="text-muted">Yesterday 1:10 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">


                                    <div class="media-body">
                                        Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
                                        the
                                        <br>
                                        <small class="text-muted">Monday 8:37 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">

                                    <div class="media-body">

                                        All the Lorem Ipsum generators on the Internet tend to repeat.
                                        <br>
                                        <small class="text-muted">Today 4:21 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">

                                    <div class="media-body">
                                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..",
                                        comes from a line in section 1.10.32.
                                        <br>
                                        <small class="text-muted">Yesterday 2:45 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">


                                        <div class="m-t-xs">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below.
                                        <br>
                                        <small class="text-muted">Yesterday 1:10 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">

                                    <div class="media-body">
                                        Uncover many web sites still in their infancy. Various versions have.
                                        <br>
                                        <small class="text-muted">Monday 8:37 pm</small>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>

                    <div id="tab-2" class="tab-pane">

                        <div class="sidebar-title">
                            <h3><i class="fa fa-cube"></i> Latest projects</h3>
                            <small><i class="fa fa-tim"></i> You have 14 projects. 10 not completed.</small>
                        </div>

                        <ul class="sidebar-list">
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Business valuation</h4>
                                    It is a long established fact that a reader will be distracted.

                                    <div class="small">Completion with: 22%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
                                    </div>
                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Contract with Company </h4>
                                    Many desktop publishing packages and web page editors.

                                    <div class="small">Completion with: 48%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 48%;" class="progress-bar"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Meeting</h4>
                                    By the readable content of a page when looking at its layout.

                                    <div class="small">Completion with: 14%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 14%;" class="progress-bar progress-bar-info"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-primary pull-right">NEW</span>
                                    <h4>The generated</h4>
                                    There are many variations of passages of Lorem Ipsum available.
                                    <div class="small">Completion with: 22%</div>
                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Business valuation</h4>
                                    It is a long established fact that a reader will be distracted.

                                    <div class="small">Completion with: 22%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
                                    </div>
                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Contract with Company </h4>
                                    Many desktop publishing packages and web page editors.

                                    <div class="small">Completion with: 48%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 48%;" class="progress-bar"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Meeting</h4>
                                    By the readable content of a page when looking at its layout.

                                    <div class="small">Completion with: 14%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 14%;" class="progress-bar progress-bar-info"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-primary pull-right">NEW</span>
                                    <h4>The generated</h4>
                                    <!--<div class="small pull-right m-t-xs">9 hours ago</div>-->
                                    There are many variations of passages of Lorem Ipsum available.
                                    <div class="small">Completion with: 22%</div>
                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                                </a>
                            </li>

                        </ul>

                    </div>

                    <div id="tab-3" class="tab-pane">

                        <div class="sidebar-title">
                            <h3><i class="fa fa-gears"></i> Settings</h3>
                            <small><i class="fa fa-tim"></i> You have 14 projects. 10 not completed.</small>
                        </div>

                        <div class="setings-item">
	                    <span>
	                        Show notifications
	                    </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox"
                                           id="example">
                                    <label class="onoffswitch-label" for="example">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
	                    <span>
	                        Disable Chat
	                    </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" checked class="onoffswitch-checkbox"
                                           id="example2">
                                    <label class="onoffswitch-label" for="example2">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
	                    <span>
	                        Enable history
	                    </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox"
                                           id="example3">
                                    <label class="onoffswitch-label" for="example3">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
	                    <span>
	                        Show charts
	                    </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox"
                                           id="example4">
                                    <label class="onoffswitch-label" for="example4">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
	                    <span>
	                        Offline users
	                    </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" checked name="collapsemenu" class="onoffswitch-checkbox"
                                           id="example5">
                                    <label class="onoffswitch-label" for="example5">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
	                    <span>
	                        Global search
	                    </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" checked name="collapsemenu" class="onoffswitch-checkbox"
                                           id="example6">
                                    <label class="onoffswitch-label" for="example6">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
	                    <span>
	                        Update everyday
	                    </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox"
                                           id="example7">
                                    <label class="onoffswitch-label" for="example7">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="sidebar-content">
                            <h4>Settings</h4>
                            <div class="small">
                                I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.
                                And typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                ever since the 1500s.
                                Over the years, sometimes by accident, sometimes on purpose (injected humour and the
                                like).
                            </div>
                        </div>

                    </div>
                </div>

            </div>


        </div>


    </div>


{% endblock body %}

<!---->

{% block modalinfo %}
    <div class="modal inmodal" id="myModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <i class="fa fa-handshake-o modal-icon"></i>
                    <h4 class="modal-title">Aprobacion de datos</h4>
                    <small>Informacion recopilada por Brandon Madriz del MSPAS para el mes de Agosto, del 2017.</small>
                </div>
                <div class="modal-body">
                    <!---->


                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Pilar: Disponibilidad </h5>

                        </div>
                        <div class="ibox-content">

                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Indicador</th>
                                    <th>Linea Base</th>
                                    <th>Situacion actual</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><span class="pie">Días sin lluvia</span></td>
                                    <td>10</td>
                                    <td class="text-navy"><i class="fa fa-level-up"></i> 40</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><span class="pie">Reserva de Alimentos</span></td>
                                    <td>32</td>
                                    <td class="text-warning"><i class="fa fa-level-down"></i> 20</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td><span class="pie">Rendimiento de la producción de Cultivos</span></td>
                                    <td>21</td>
                                    <td class="text-navy"><i class="fa fa-level-up"></i> 26</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td><span class="pie">Afectación de Cultivos por efectos de cambio climatico</span>
                                    </td>
                                    <td>21</td>
                                    <td class="text-navy"><i class="fa fa-level-up"></i> 26</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td><span class="pie">Vigilancia epidemiologica en animales domesticos</span></td>
                                    <td>21</td>
                                    <td class="text-navy"><i class="fa fa-level-up"></i> 26</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <!---->

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Rechazar</button>
                    <button type="button" class="btn btn-primary">Aprobar</button>
                </div>
            </div>
        </div>
    </div>



{% endblock modalinfo %}
</body>


</html>
